.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 3;
    margin: 5% 8%;
}

.text_button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#description {
    margin-top: 5%;
    align-self: center;
    min-height: 300px;
}

#byButton {
    border: none;
    background: none;
    color: #dadada;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px outset #575757;
    outline: none;
    cursor: pointer;
}

.oneImg {
    height: 60%;
    width: 60%;
}

@media only screen and (max-width: 768px) {
    .oneImg {
        height: 50%;
        width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    .oneImg {
        height: 90%;
        width: 90%;
    }

    .one {
        flex-wrap: wrap-reverse;
    }

    #description {
        min-height: 0;
        margin: 5% 2%;
    }

    .text_button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}