.buttonList {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 20px;
}

.buttonList div {
    line-height: 40px;
    border-bottom: 1px outset #dadada;
    vertical-align: baseline;
    width: 200px;
    text-align: center;
}

#adminButtonBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 140px;
    text-align: left;
    /*background: white;*/
}

#adminButtonServer {
    border-bottom: 1px outset #dadada;
    height: 120px;
    line-height: 35px;
}

.adminButton {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    text-align: left;
    color: #dadada;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.adminMain {
    width: 90%;
}

#adminPage {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 20px;
}

.notSentOrders {
    display: flex;
    justify-content: center;
    border-bottom: 1px outset #dadada;

}

.notSentOrdersItem {
    width: 27%;
}

.notSentOrdersAction {
    width: 7%;
}

.notSentOrdersPrice {
    width: 7%;
}

.sendButton {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    text-align: left;
    color: #dadada;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 7%;
    padding: 0;
}

.productAdmin {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 5%;
}

.productElement {
    margin-bottom: 15px;
    border-bottom: 1px outset #dadada;
}


@media only screen and (max-width: 1150px) {
    .notSentOrders {
        flex-direction: column;
        text-align: center;
        font-size: 12px;
    }

    #tableTitle {
        display: none;
    }

    .notSentOrdersItem {

        width: 100%;
    }

    .notSentOrdersAction {
        width: 100%;
    }

    .notSentOrdersPrice {
        width: 100%;
    }

    .sendButton {
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 425px) {
    #adminPage {
        flex-direction: column;
        align-content: space-between;
    }

    #adminButtonBlock {
        width: 90%;
    }

    #adminButtonServer {
        display: flex;
        flex-direction: column;
        line-height: 20px;
        text-align: center;
    }

    .adminButton {
        text-align: center;
        margin-bottom: 15px;
    }
}