.oneUser {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 10%;
}

#userButtonBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 150px;
    text-align: left;
}

#userButtonServer {
    border-bottom: 1px outset #dadada;
    height: 125px;
    line-height: 35px;
}

.userButton {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    text-align: left;
    color: #dadada;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.userMain {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    flex-grow: 1;
}

#emptyUser {
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px ;
    margin: 20px;
    color: #dadada;
}

#byAllProducts{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 35px;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-around;
    cursor: pointer;
}

#bank{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px;
    /*background-color: #222222;*/
}

#bankFirstDiv{
    border-bottom: 1px outset #dadada;
    padding-bottom: 10px;
}

#bankSecondDiv{
    border-bottom: 1px outset #dadada;
    padding-bottom: 10px;
    padding-top: 8px;
}

#modalButton{
    width: 100%;
    text-align: right;
}

#modalHeader{
    font-weight:100;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 540px) {
    .oneUser {
        flex-wrap: wrap;
        align-content: space-between;
        padding-top: 20px;
    }

    #userButtonBlock {
        width: 100%;
    }

    #userButtonServer {
        display: flex;
        flex-direction: column;
        line-height: 8px;
        text-align: center;
    }

    .userButton {
        text-align: center;
        margin-bottom: 15px;
    }
}