#empty {
    white-space: pre-line;
    text-align: center;
}

#hotLink {
    color: #dadada;
}

.hotElements:hover {
    color: white;
}

a {
    text-decoration: none;
}

.hotElements {
    box-shadow: 0 1px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

#main {
    margin: 0 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#text {
    margin: 0 20px 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#oldPrice {
    font-size: 1.8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 3%;
    text-decoration: line-through;
    text-decoration-style: revert;
}

#hotName {
    margin: 6% 6% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
}

#hotPrice {
    font-size: 2vw;
    margin: 3% 3% 3% 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hotImg {
    height: 40%;
    width: 40%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 776px) {
    .hotImg {
        margin-bottom: 20px;
    }

    #main {
        margin-top: 0;
    }

    .hotElements{
        margin-top: 30px;
    }

    #oldPrice {
        font-size: 2.2vw;
    }

    #hotName {
        font-size: 2.8vw;
    }

    #hotPrice {
        font-size: 2.8vw;
    }

}

@media only screen and (max-width: 425px) {
    .hotImg {
        height: 70%;
        width: 70%;
        margin-bottom: 20px;
    }

    #main {
        margin-top: 0;
    }

    .hotElements {
        flex-direction: column;
        align-content: center;
        margin-top: 20px;
    }

    #hotElementsWrap{
        flex-direction: column-reverse;
        align-content: center;
    }

    #text {
        width: auto;
    }

    #oldPrice {
        font-size: 3.5vw;
        margin: 0;
    }

    #hotName {
        margin: 0;
        font-size: 5vw;
    }

    #hotPrice {
        font-size: 5vw;
        margin-left: 20px;
    }
}