.product {
    width: 280px;
    height: 250px;
    margin: 20px 20px 0 0;
    text-align: center;
    box-shadow: 0 -3px 0 #222222;
    /*background-color: white;*/
    position: relative;
}

.main {
    z-index: -1;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    /*flex-basis: 200px;*/
    flex-grow: 1;
}

.productImg{
    height: 100px;
    width: 280px;
}