.product {
    width: 280px;
    height: 250px;
    margin: 50px 20px 0 20px;
    text-align: center;
    box-shadow: 0 0 7px black;
    background-color: #9E9C9C;
    position: relative;
}

.main {
    z-index: -1;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    /*flex-basis: 200px;*/
    flex-grow: 1;
}

.productImg {
    height: 100px;
    width: 280px;
    box-shadow: 0 1px 0 black;
}

.productText{
    color: #dadada;
    font-size: 18px;
    display: block !important;
    line-height: 24px !important;
    text-align: left;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.product:hover .productText{
    color: #ffffff;
    transition: 0.5s all;
}

.product:hover{
    transition: 0.5s all;
    background-color: #9E9C9C;
    transform: scale(1.05);
}


#empty{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px ;
    margin: 20px;
    color: #dadada;
}

.productPrice{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #dadada;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}


.product:hover .productPrice{
    color: #ffffff;
}
