a {
    transition: color 0.4s;
}

a:hover {
    color: white;
}

.text-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.card-heading {
    padding: 16px;
}

.field-line, .button-line {
    padding: 16px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}