a {
    transition: color 0.4s;
}

a:hover {
    color: white;
}

.text-center {
    text-align: center;
}

.container {
    margin: 10%;
    text-align: center;
    border: none!important;
    box-shadow: none!important;
    background-color: #9E9C9C!important;
}

.card-heading {
    padding: 16px;
}

.field-line, .button-line {
    padding: 16px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}