a {
    transition: color 0.4s;
    color: #dadada;
}

a:hover {
    color: white;
}

.text-center {
    text-align: center;
}

.container {
    margin: 10% 10% 10% 5%;
    text-align: center;
    border: none!important;
    box-shadow: none!important;
    background-color: #9E9C9C!important;
}

.card-heading {
    padding: 16px;
    font-size: 35px;
    font-weight: 300;
    color: #dadada;
}

.field-line, .button-line {
    padding: 16px;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}

.field-line::placeholder{
    color: rebeccapurple;
    padding: 0;
}

#text-field::placeholder{
    color: rebeccapurple;
    padding: 0;
}


.button-line{
    border: none;
    background: none;
    color: #dadada;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    border-bottom: 1px outset #575757;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.button-line:hover{
    color: white;
}

#message-register{
    color: #dadada;
}

.social i {
    color: #dadada;
    font-size: 20px;
    width: 20px;
    padding: 10px;
}

.social i:hover {
    color: white;
    transition: 0.5s all;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    .container {
        width: 100%;
        margin: 10% 0 0;
    }
}