body{
    background-color: #9E9C9C;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #dadada;
}

.logo_max{
    padding: 0;
    margin: 0;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .6) 1px 1px 1px;
    font-size: 1.5em;
    font-weight: bold;
    color: #dadada;
    text-transform: uppercase;
}

.logo_max a {
    text-decoration: none;
    color: #dadada;
}

#button_hidden{
    display: none;
}

#header{
    background-color: #9E9C9C;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    border-bottom: 1px outset #575757;
    box-shadow: 0 0 15px black !important;
}

#left{
    display: flex;
    justify-content: space-around;
}

#search{
    display: flex;
    justify-content: flex-start;
}

.action{
    width: 150px;
}

#elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

INPUT[type="text"] {
    height: 20px;
    border: 1px solid #9E9C9C;
    outline: none;
    color: #dadada;
    background-color: #9E9C9C;

}

INPUT[type="text"]::placeholder{
    color:#dadada;
}

.searchButton{
    top: 0;
    right: 0;
    border: none;
    background: #9E9C9C;
    cursor: pointer;
    outline: none;
}

.searchButton:before  {
    content: "\f002";
    font-family: FontAwesome, sans-serif;
    font-size: 16px;
    color: #dadada;
}

@media only screen and (max-width:1000px) {
    .action{
        width: 100px;
    }
}

@media only screen and (max-width:768px) {
    .logo_max{
        background-color: #9E9C9C;
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        border-bottom: 1px outset #575757;
        box-shadow: 0 0 15px black !important;
    }

    #header{
        display: none;
    }
    #button_hidden{
        display: inline;
    }
}