body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #9E9C9C;
}

header {
    background-color: white;
    content: "";
    /*position: relative;*/
    -webkit-mask-position-x: 0;
    -webkit-mask-position-y: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
}

header table {
    width: 100%;
    height: 50px;
}

.headerNavigation {
    width: 10%;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

.emptyHeaderNavigation {
    width: 10%;
    horiz-align: right;
    vertical-align: center;
}

#list a:hover {
    background: #575757;
    color: #ffffff;
    padding: 10px 10px 10px 35px;
    display: block;
    transition: 0.5s all;
}

#list a {
    background: #ffffff;
    color: #000000;
    padding: 10px 10px 10px 25px;
    display: block;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

header #list {
    position: absolute;
    bottom: 100%;
    top: -9999em;
    opacity: 0;
    width: 100%;
    transition: 0.5s opacity;
}

ul:hover #list {
    opacity: 1;
    top: 0;
}

.loginButton {
    font-size: 15px;
    width: 10%;
    margin-right: auto;
}